:host {
  --color: currentColor;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  .line {
    border-radius: 2px;
    width: 100%;
    background: repeating-linear-gradient(
        90deg,
        transparent 0,
        color-mix(in srgb, var(--color) 20%, transparent) 25%,
        transparent 50%
      )
      color-mix(in srgb, var(--color) 10%, transparent);
    background-size: 200% 100%;
    animation: shine 1s infinite linear;
    span {
      color: transparent;
      display: block;
      line-height: 90%;
    }
    &:last-child {
      width: 70%;
    }
  }

  @keyframes shine {
    0% {
      background-position: right;
    }
  }
}
