@if (notForHome()) {
  <button pButton severity="secondary" text (click)="location.back()">
    <i-tabler pButtonIcon name="chevron-left" />
  </button>
} @else {
  <button pButton severity="secondary" text [routerLink]="'/settings'">
    <i-tabler pButtonIcon name="adjustments-cog" />
  </button>
}
<h1 [routerLink]="'/'">
  ColorUnblind
  <app-beta />
</h1>

@if (customButton()) {
  <ng-content />
} @else {
  <button pButton severity="secondary" text [routerLink]="'/favorites'">
    <i-tabler pButtonIcon name="heart-spark" />
  </button>
}
