@if (notForHome()) {
  <button pButton severity="secondary" text (click)="location.back()">
    <i-tabler pButtonIcon name="chevron-left" />
  </button>
} @else {
  <button pButton severity="secondary" text [routerLink]="'/infos'">
    <i-tabler pButtonIcon name="info-square-rounded" />
  </button>
}
<h1 [routerLink]="'/'">ColorUnblind</h1>

@if (customButton()) {
  <ng-content />
} @else {
  <button pButton severity="secondary" text [routerLink]="'/stats'">
    <i-tabler pButtonIcon name="history" />
  </button>
}
