.content {
  --p-toggleswitch-checked-background: var(--p-text-hover-color);
  --p-toggleswitch-checked-hover-background: var(--p-text-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  .icon-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 500;
  }
  .disabled {
    color: var(--p-form-field-disabled-color);
  }
  .selectable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fixed-size {
      width: 140px;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-buttons {
      display: flex;
      gap: 0.5rem;
    }
  }
}
