<app-header notForHome customButton>
  <div style="width: 40px"></div>
</app-header>

<section class="content">
  <div class="selectable">
    <div class="icon-text">
      <i-tabler name="sun-moon" />
      <span>Theme</span>
    </div>
    <p-select
      size="small"
      [options]="themes()"
      optionLabel="name"
      [(ngModel)]="selectedTheme"
      (ngModelChange)="changeTheme()"
    />
  </div>

  <div class="selectable">
    <div class="icon-text">
      <i-tabler name="clipboard" />
      <span>Auto-copy</span>
    </div>
    <p-toggleswitch [ngModel]="autoCopy()" (ngModelChange)="toggleAutoCopy()" />
  </div>

  <div class="selectable">
    <div class="icon-text" [class.disabled]="!isLoggedIn()">
      <i-tabler name="file-description" />
      <span>Pro description</span>
    </div>
    <p-toggleswitch
      [disabled]="!isLoggedIn()"
      [(ngModel)]="proDescription"
      (ngModelChange)="settingsService.setProDescription()"
    />
  </div>

  <div class="selectable">
    <div class="icon-text" [class.disabled]="!isLoggedIn()">
      <i-tabler name="layout-navbar-expand" />
      <span>Default menu</span>
    </div>
    <p-select
      [disabled]="!isLoggedIn()"
      size="small"
      [filter]="false"
      [options]="tools()"
      [(ngModel)]="selectedMenu"
      optionLabel="name"
      (ngModelChange)="settingsService.setNewSelectedMenu()"
      class="fixed-size"
    />
  </div>

  @if (!isLoggedIn()) {
    <p-message severity="warn">
      <ng-template #icon>
        <i-tabler name="alert-square-rounded" />
      </ng-template>
      <span style="font-size: 0.8rem">
        <a [routerLink]="['/auth']" style="color: inherit; font-weight: 600"
          >Log in</a
        >
        to change these settings.
      </span>
    </p-message>
  }

  <button pButton severity="secondary" [routerLink]="['/about']">
    <i-tabler name="info-square-rounded" />
    <span>About</span>
  </button>

  @if (isLoggedIn()) {
    <section class="bottom">
      <app-user-avatar />

      <div class="bottom-buttons">
        <button
          pButton
          severity="danger"
          text
          (click)="authService.logout(); settingsService.getUserSettings()"
        >
          <i-tabler name="logout" />
        </button>
      </div>
    </section>
  }
</section>
