<app-header notForHome />

<div
  class="description"
  [appContrastedText]="'#' + rawHex()"
  [style.background-color]="'#' + rawHex()"
>
  {{ description() }}
</div>

<p-accordion [(value)]="activeAccordion">
  <p-accordion-panel value="0">
    <p-accordion-header>
      <div style="display: flex; align-items: center; gap: 0.5rem">
        <i-tabler name="contrast-2" />Details
      </div>
    </p-accordion-header>
    <p-accordion-content>
      <app-color-detail [hsl]="hsl()" />
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="1">
    <p-accordion-header>
      <div style="display: flex; align-items: center; gap: 0.5rem">
        <i-tabler name="clipboard" />
        <span>Codes</span>
      </div>
    </p-accordion-header>
    <p-accordion-content>
      <app-color-codes
        [hex]="'#' + rawHex()"
        [rgb]="rgb()"
        [hsl]="hsl().string"
      />
    </p-accordion-content>
  </p-accordion-panel>
  <p-accordion-panel value="2">
    <p-accordion-header>
      <div style="display: flex; align-items: center; gap: 0.5rem">
        <i-tabler name="palette" />
        <span>Palette</span>
      </div>
    </p-accordion-header>
    <p-accordion-content>
      <app-palette
        [inputHex]="rawHex()"
        [complementary]="complementary()"
        [analogous]="analogous()"
        [triadic]="triadic()"
        [tetradic]="tetradic()"
      />
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
