::ng-deep {
  .form {
    input,
    button {
      width: 300px;
    }
  }
}

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    .list {
      font-size: 0.9rem;
      margin-left: -8px;
      padding-top: 1rem;
    }
  }
}
