:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    display: flex;
    margin: 2rem 1rem;
    gap: 0.5rem;
    color: #7c7c7c;
    font-size: 0.9rem;
    i-tabler {
      width: 2rem;
      height: 2rem;
    }
  }

  app-previously-viewed-colors {
    margin-top: 2rem;
  }
}
