<app-header notForHome customButton>
  <div style="width: 40px"></div>
</app-header>

<div class="content">
  <p class="thanks">🎉 Thanks for downloading ColorUnblind!</p>
  <br />
  <br />
  <p>
    With a single click, pick any color from your screen and uncover its
    essence. 🎨
  </p>
  <br />
  <p>
    Get a short description, detailed insights, color codes, and a harmonious
    palette—all in a sleek, intuitive interface. Perfect for colorblind users,
    designers, and color enthusiasts! 🌈✨
  </p>
  <br /><br />
  <p style="text-align: center">
    If you like this project and want to support me, you can buy me a coffee!
  </p>
  <br />
  <a
    class="coffee"
    href="https://www.buymeacoffee.com/nicolasmaitre"
    target="_blank"
  >
    <img
      src="https://cdn.buymeacoffee.com/buttons/v2/default-black.png"
      alt="Buy Me a Coffee"
      style="width: 150px"
    />
  </a>
  <br /><br />
  <p style="text-align: center">
    If you have any suggestions or questions, feel free to reach out at :
  </p>
  <a href="mailto:contact@colorunblind.com">{{ "contact@colorunblind.com" }}</a>
  <p>I’d love to hear from you!</p>
</div>
