<app-header notForHome customButton>
  <div style="width: 40px"></div>
</app-header>

<div class="content">
  <p class="thanks">🎉 Thanks for downloading ColorUnblind!</p>
  <br />
  <br />
  <p>
    With a single click, pick any color from your screen and uncover its
    essence. 🎨
  </p>
  <br />
  <p>
    Get a short description, detailed insights, color codes, and a harmonious
    palette—all in a sleek, intuitive interface. Perfect for colorblind users,
    designers, and color enthusiasts! 🌈✨
  </p>
  <br /><br />
  <p style="text-align: center">
    This project is currently in beta. We are working hard to improve it and add
    new features.
    <br />
    <br />
    Your feedback is invaluable to us. If you encounter any bugs or have
    suggestions, please let us know!
    <br />
    <br />
  </p>
  <a href="mailto:contact@colorunblind.com">{{ "contact@colorunblind.com" }}</a>
</div>
