:host {
  display: block;
  position: relative;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 0;
    width: 0;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    transition: height 0.4s ease-in-out;
    animation: animateGlow 1.25s linear infinite;
  }
  .default {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .open {
      display: none;
    }
  }
  &:hover {
    background-color: black;
    color: white;
    &::after {
      width: 100%;
      height: 100%;
    }
    .default {
      .open {
        display: block;
      }
      .closed {
        display: none;
      }
    }
  }
  .viewing {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    scale: 1.25;
    transition: transform 0.7s ease;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
